<h1>Verbose Index for the NCEES FE Reference Handbook</h1>

<h2>Objectives</h2>

<ul>
<li><p>Create a numbered index to identify equations used in the <a href="https://help.ncees.org/article/87-ncees-exam-reference-handbooks">NCEES FE Reference Handbook</a>.</p></li>
<li><p>Provide verbose commentary of equations used in the NCEES FE Reference Handbook in the form of text descriptions, alternate notations, and illustrations.</p></li>
</ul>

<h2>Description</h2>

<p>This repository contains numbered clarifying commentary of equations used in the NCEES FE Reference Handbook. The handbook is provided to examinees of the NCEES FE Exam. Equations in the NCEES handbook are unnumbered and typeset in order to pack as much content into each page as possible. In contrast, the purpose of this project is to provide an ad-hoc numbering system for the unnumbered equations in the handbook as well as to provide more verbose commentary of each equation than the space in the original handbook allows. The commentary may take the form of:</p>

<ul>
<li><p>Text descriptions.</p></li>
<li><p>Alternate notations of equation symbols.</p></li>
<li><p>Graphical illustrations.</p></li>
<li><p>Relationships to other equations.</p></li>
<li><p>Hyperlinks to websites hosting more detailed explanations.</p></li>
</ul>

<p>The numbering system used to organize the Index is based upon the position of a referenced object (usually an equation) on a specific page within a specific version of the handbook. Position data includes as parameters:</p>

<ul>
<li><p>Page Number. The page number contained in the footer of a handbook page containing a referenced object.</p></li>
<li><p>Column Number. The specific column of text where a referenced object lies.</p></li>
<li><p>Line Number. The row of text. Numbers should be assigned without regard for text wrapping or equation grouping.</p></li>
</ul>

<h2>Typesetting</h2>

<ul>
<li><p><a href="https://texmacs.org">GNU Texmacs</a> is used for typesetting documents saved in the <code>.tm</code> file format.</p></li>
<li><p><a href="https://inkscape.org/">Inkscape</a> is used for creating figures saved in <code>.svg</code> and <code>.eps</code> file formats.</p></li>
</ul>

<h2>License</h2>

<ul>
<li><p>Use of the order of equations included in the NCEES FE Reference Handbook are fair use of the copyrighted work by <a href="ncees.org">NCEES</a>.</p></li>
<li><p>Descriptions, alternate notations, and illustrations are licensed under Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) by <a href="baltakatei.com">Steven Baltakatei Sandoval</a> unless otherwise indicated.</p></li>
</ul>
